{% extends "layout.html" %}
{% block content %}
	<article class="media content-section">
	  <div class="media-body">
		<div class="article-metadata">
		  <h2 class="article-title">{{ model.name }}</h2>
		  <p class="article-content">{{model.upload_date.strftime('%H:%M / %d-%m-%Y') }}</p>
		    <div>
		      <button type="button" class="btn btn-danger btn-sm mt-1 mb-1" data-toggle="modal" data-target="#deleteModal"> Delete </button>
		    </div>
		Display of the model/More information about the model
		</div>
	  </div>
	 </article>
	<!-- Modal -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="deleteModalLabel">Delete Model?</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<form action="{{url_for('delete_model', model_id=model.id)}}", method="POST">
			  <input class ="btn btn-danger" type="submit" value="Delete">
			</form>
		  </div>
		</div>
	  </div>
	</div>
{% endblock content %}