{% extends 'layout.html' %}

{% block content %}

<!-- Attacks Modal -->
	<form class="" action="" method="POST" enctype="multipart/form-data">
		{{form.hidden_tag()}} 
		<div class="form-group">
			{{ form.model.label(class="form-control-label")}}
			{% if form.model.errors %}
				{{ form.model(class="form-control form-control-lg is-invalid")}}
				<div class="invalid-feedback">
					{% for error in form.model.errors %}
						<span> {{ error }} </span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.model(class="form-control")}}
			{% endif %}
		</div>
		<!-- Table with panel -->
		<div class="card card-cascade narrower">
		  <div class="px-4">
			<div class="table-wrapper">
			  <!--Table-->
			  <table class="table table-hover mb-0">
				<!--Table head-->
				<thead>
				  <tr>
					<th class="th-lg">
					</th>
					<th class="th-lg">
					  <a>Name
						<i class="fas fa-sort ml-1"></i>
					  </a>
					</th>
					<th class="th-lg">
					  <a>Type
						<i class="fas fa-sort ml-1"></i>
					  </a>
					</th>
					<th class="th-lg">
					  <a>Complexity
						<i class="fas fa-sort ml-1"></i>
					  </a>
					</th>
					<th class="th-lg">
						Description
					</th>
				  </tr>
				</thead>
				<!--Table head-->

				<!--Table body-->
				{% for attack in attacks%}
				<tbody>
				  <tr>
					<th scope="row">
						<div class="form-check">
							{{ form.__getitem__(attack)(class="form-check-input") }}
						</div>	
					</th>
					<td>{{ form.__getitem__(attack).label(class="form-check-input-label") }}</td>
					<td>type</td>
					<td>plus tard</td>
					<td>description</td>
				  </tr>
				</tbody>											
				{% endfor %}
				<!--Table body-->
			  </table>
			  <!--Table-->
			</div>
		  </div>
		</div>
		<!-- Table with panel -->
		<div class="form-group">
            {{ form.submit(class="btn btn-dark") }}
        </div>
	</form>




{% endblock content %}
