{% extends 'layout.html' %}
{% block content %}
<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;"> <div id="BarPlotBeforeAttack" style="width:500px;height:500px;"></div> </div>
    <div style="margin-left: 500px;"> <div id="BarPlotAfterAttack" style="width:500px;height:500px;"></div> </div>
</div>
<div id="LinePlotAccuracy" style="width:1000px;height:400px;"></div>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;"> 
        <div id="ConfusionMatrixBeforeAttack" style="width:500px;height:500px;"></div>
        <div class="selector-before">
        Class: <select class="classdata-before"> </select>
        </div>
    </div>
    <div style="margin-left: 500px;"> 
        <div id="ConfusionMatrixAfterAttack" style="width:500px;height:500px;"></div>
        <div class="selector-after">
        Class: <select class="classdata-after"> </select>
        </div>
    </div>
</div>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
    var xValue = ['Bird', 'Cat', 'Dog', 'Mouse'];
    var yValue_before = [4, 3, 4, 3];
    var yValue2_before = [0, 1, 0, 1];
    var yValue_after = [1, 0, 2, 2];
    var yValue2_after = [3, 4, 2, 2];
    function setBarPlot(yValue, yValue2, title, layout_title) {
        var trace1 = {
            name:"Good prediction",
            x: xValue,
            y: yValue,
            type: 'bar',
            text: yValue.map(String),
            textposition: 'auto',
            hoverinfo: 'none',
            opacity: 0.5,
            marker: {
                color: 'rgb(0,100,0)',
                line: {
                color: 'rgb(0,100,0)',
                width: 1.5
                }
            }
            };
            var trace2 = {
            name:"Bad prediction",
            x: xValue,
            y: yValue2,
            type: 'bar',
            text: yValue2.map(String),
            textposition: 'auto',
            hoverinfo: 'none',
            marker: {
                color: 'rgba(100,0,0,.5)',
                line: {
                color: 'rgb(100,0,0)',
                width: 1.5
                }
            }
            };
            var data = [trace1,trace2];
            var layout = {
            title: layout_title
            };
        Plotly.newPlot(title, data, layout);
    };
    setBarPlot(yValue_before, yValue2_before, 'BarPlotBeforeAttack', 'Classification Report (Before the attack)');
    setBarPlot(yValue_after, yValue2_after, 'BarPlotAfterAttack', 'Classification Report (After the attack)');
</script>
<script>
    var trace1 = {
    x: [0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1],
    y: [1,0.9,0.85,0.8,0.7,0.7,0.8,0.9,0.9,1,1],
    type: 'scatter'
    };

    var data = [trace1];
    var layout = {
    title: 'Evolution of the accuracy with attack parameter',
    xaxis: {
        title: 'parameter value'
    },
    yaxis: {
        title: 'accuracy',
        range: [0.0, 1],
    }
    };
    Plotly.newPlot('LinePlotAccuracy', data, layout);
</script>
<script>
    var xValues = ['Bird', 'Cat', 'Dog', 'Mouse'];
    var zValues_before = [
    [4, 0, 0, 0],
    [0, 3, 1, 0],
    [0, 0, 4, 0],
    [1, 0, 0, 3],
    ];
    var zValues_after = [
    [2, 0, 0, 2],
    [0, 1, 3, 0],
    [1, 1, 1, 1],
    [3, 0, 0, 1],
    ];

    var colorscaleValue = [
    [0, '#DBE6FB'],
    [1, '#022E85']
    ];
    function setConfusionPlot(zValues, title, class_index) {
        if (class_index!=undefined){
            var x = xValues;
            var y = [xValues[class_index]];
            var z = [zValues[class_index]];
        }
        else{
            var x = xValues;
            var y = xValues;
            var z = zValues;
        }

        var data = [{
            x: x,
            y: y,
            z: z,
            type: 'heatmap',
            colorscale: colorscaleValue,
        }];
        var layout = {
            title: title,
            annotations: [],
            xaxis: {
                ticks: '',
                title: 'Predicted label'
            },
            yaxis: {
                ticks: '',
                ticksuffix: ' ',
                width: 700,
                height: 700,
                autosize: false,
                title: 'True label'
            }
        };
        for ( var i = 0; i < y.length; i++ ) {
            for ( var j = 0; j < x.length; j++ ) {
                var currentValue = z[i][j];
                if (currentValue != 0.0 & i!=j) {
                var textColor = 'red';
                }else if(currentValue == 0.0){
                var textColor = 'blue';
                }
                else{
                var textColor = 'white';
                }
                var result = {
                xref: 'x1',
                yref: 'y1',
                x: x[j],
                y: y[i],
                text: z[i][j],
                showarrow: false,
                font: {
                    color: textColor
                }
                };
                layout.annotations.push(result);
            }
        }
        Plotly.newPlot(title, data, layout);
    };

    setConfusionPlot(zValues_before, 'ConfusionMatrixBeforeAttack');
    setConfusionPlot(zValues_after, 'ConfusionMatrixAfterAttack');

    var innerContainer_before = document.querySelector('.selector-before'),
        classSelector_before = innerContainer_before.querySelector('.classdata-before');
    var innerContainer_after = document.querySelector('.selector-after'),
        classSelector_after = innerContainer_after.querySelector('.classdata-after');

    function assignOptions(textArray, selector) {
        for (var i = 0; i < textArray.length;  i++) {
            var currentOption = document.createElement('option');
            currentOption.text = textArray[i];
            selector.appendChild(currentOption);
        }
    }
    var selectorvalues = xValues.slice();
    selectorvalues.unshift('All')

    assignOptions(selectorvalues, classSelector_before);
    assignOptions(selectorvalues, classSelector_after);


    function updateClass_before(){
        if (classSelector_before.value=='All'){
            setConfusionPlot(zValues_before, 'ConfusionMatrixBeforeAttack');
        }
        var classdata = xValues.indexOf(classSelector_before.value);
        setConfusionPlot(zValues_before, 'ConfusionMatrixBeforeAttack', classdata);
    }
    function updateClass_after(){
        if (classSelector_after.value=='All'){
            setConfusionPlot(zValues_after, 'ConfusionMatrixAfterAttack');
        }
        var classdata = xValues.indexOf(classSelector_after.value);
        setConfusionPlot(zValues_after, 'ConfusionMatrixAfterAttack', classdata);
    }

    classSelector_before.addEventListener('change', updateClass_before, false);
    classSelector_after.addEventListener('change', updateClass_after, false);

</script>
{% endblock content %}