<!doctype html>
<html lang="en">
  <head>
    {% if title %}
            <title>loki - {{ title }}</title>
        {% else %}
            <title>loki</title>
    {% endif %}
    <!-- Previous template boostrap -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <!-- End Boostrap -->

    <!-- New template boostrap -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- Material Kit CSS -->
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
    <!-- End Boostrap -->

  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar" data-color="black">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="white | black"
      -->

        <div class="logo">
          <a href="{{ url_for('home') }}" class="simple-text logo-normal">
              Loki
          </a>
        </div>

        <div class="sidebar-wrapper">
          <div class="user">
              <div class="info">
                  <div class="clearfix"></div>
              </div>
          </div>
          <ul class="nav">
            <li>
              <a href="{{ url_for('home') }}">
                <i class="nc-icon nc-world-2"></i>
                <p>Home</p>
              </a>
            </li>
            {% if current_user.is_authenticated %}
              <li>
                <a href="{{ url_for('account') }}">
                  <i class="nc-icon nc-circle-10"></i>
                  <p>My account</p>
                </a>
              </li>
              <li>
                <a data-toggle="collapse" href="#collapseOne">
                  <i class="nc-icon nc-camera-compact"></i>
                  <p>Visualization
                      <b class="caret"></b>
                  </p>
                </a>
                <div class="collapse" id="collapseOne">
                    <ul class="nav">
                        <li>
                            <a href="{{ url_for('visualize_attack') }}">
                                <span class="sidebar-normal"> Visualize attack </span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('predict') }}">
                                <span class="sidebar-normal"> Classify an Image </span>
                            </a>
                        </li>
                    </ul>
                </div>
              </li>
              <li>
                <a href="{{ url_for('logout') }}">
                  <i class="nc-icon nc-button-power"></i>
                  <p>Logout</p>
                </a>
              </li>
            {% else %}
              <li>
                <a href="{{ url_for('login') }}">
                  <i class="nc-icon nc-touch-id"></i>
                  <p>Login</p>
                </a>
              </li>
              <li>
                <a href="{{ url_for('register') }}">
                  <i class="nc-icon nc-spaceship"></i>
                  <p>Register</p>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>

      <div class="main-panel">
        
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </button>
              </div>
              <a class="navbar-brand" href="#">Dashboard</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                {% block nav_item %}
                {% endblock nav_item %}
              </ul>
            </div>
          </div>
        </nav>
        
        <div class="content">
              {% with messages = get_flashed_messages(with_categories=True) %}
                  {% if messages %}
                      {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-with-icon" data-notify="container">
                          <span data-notify="icon" class="nc-icon nc-bell-55"></span>
                          <span data-notify="message">{{ message }}</span>
                        </div>
                      {% endfor %}
                  {% endif %}
              {% endwith %}


              {% block content %}
              {% endblock content %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!--   Core JS Files   -->
  <script src="../static/assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../static/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../static/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>

  <!--  Google Maps Plugin    -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

  <!-- Chart JS -->
  <script src="../static/assets/js/plugins/chartjs.min.js"></script>

  <!--  Notifications Plugin    -->
  <script src="../static/assets/js/plugins/bootstrap-notify.js"></script>

  <!-- Control Center for Paper Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../static/assets/js/paper-dashboard.js?v=2.0.0" type="text/javascript"></script>

  <!-- Bootstrap -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!--  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- End Bootstrap -->
</html>