{% extends 'layout.html' %}

{% block content %}
    <div class="content-section">
        <form class="" action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border bottom mb-4">
                    Upload a new model !
                </legend>
                <div class="form-group" placeholder="example@example.com">
                    {{ form.name.label(class="form-control-label") }}

                    {% if form.name.errors %}
                        {{ form.name.label(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
					{{ form.model(class="form-control-file")}}
					{% if form.model.errors %}
						{% for error in form.model.errors %}
							<span class="text-danger">{{ error }} </span></br>
						{% endfor %}
					{% endif %}
				</div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    <div class="border-top pt-3">
        <small class="text-muted">
            Don't have an account?
            <a class="ml-2" href="{{ url_for('register') }}">Sign up now</a>
        </small>
    </div>
{% endblock content %}