{% extends 'layout.html' %}
{% block content %}
<h1>Before</h1>
<div class="row">
    {% for i in range(len) %}
        <div class="column">
            <figure>
                <img src="{{ images_before[i] }}" style="width:100%" id="image_before_{{i}}">
                <figcaption>
                    {{ responses_before[i]['label'] }}
                </figcaption>
            </figure>
        </div>
        <br>
    {% endfor %}
</div>
<h1>After</h1>
<div class="row">
    {% for i in range(len) %}
        <div class="column">
            <figure>
                <img src="{{ images_after[i] }}" style="width:100%" id="image_after_{{i}}">
                <figcaption>
                    {{ responses_after[i]['label'] }}
                </figcaption>
            </figure>
        </div>
        <br>
    {% endfor %}
</div>
<h1>Pixel difference</h1>
<div class="row">
    {% for i in range(len) %}
        <div class="column">
            <figure>
                <img src="{{ pixel_differences[i] }}" style="width:100%">
            </figure>
        </div>
        <br>
    {% endfor %}
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock content %}