{% extends 'layout.html' %}
{% block content %}
<h3>Before</h3>
<div class="row">
    {% for i in range(len) %}
        <div class="column">
            <figure>
                <img src="{{ images_before[i] }}" class="img-responsive" width="100" height="100" id="image_before_{{i}}">
                <figcaption>
                    {{ responses_before[i]['label'] }}
                </figcaption>
            </figure>
        </div>
        <br>
    {% endfor %}
</div>
<h3>After</h3>
<div class="row">
    {% for i in range(len) %}
        <div class="column">
            <figure>
                <img src="{{ images_after[i] }}" class="img-responsive" width="100" height="100" id="image_after_{{i}}">
                <figcaption>
                    {{ responses_after[i]['label'] }}
                </figcaption>
            </figure>
        </div>
        <br>
    {% endfor %}
</div>
<h3>Pixel difference</h3>
<div class="row">
    {% for i in range(len) %}
        <div class="column">
            <figure>
                <img src="{{ pixel_differences[i] }}" class="img-responsive" width="100" height="100" >
            </figure>
        </div>
        <br>
    {% endfor %}
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock content %}