{% extends 'layout.html' %}
{% block content %}
<h3>Before</h3>
<div class="row">
    {% for i in range(len) %}
        <div class="column">
            <figure>
                <img src="{{ original_images[i] }}" class="img-responsive" width="100" height="100" id="original_images{{i}}">
                <figcaption>
                    {{ original_labels[i] }}
                </figcaption>
            </figure>
        </div>
    {% endfor %}
</div>
<h3>After</h3>
<div class="row">
    {% for i in range(len) %}
        <div class="column">
            <figure>
                <img src="{{ result_images[i] }}" class="img-responsive" width="100" height="100" id="result_images{{i}}">
                <figcaption>
                    {{ result_labels[i] }}
                </figcaption>
            </figure>
        </div>
    {% endfor %}
</div>
<h3>Pixel difference</h3>
<div class="row">
    {% for i in range(len) %}
        <div class="column">
            <figure>
                <img src="{{ difference_images[i] }}" class="img-responsive" width="100" height="100" >
            </figure>
        </div>
    {% endfor %}
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock content %}