body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
  top: 0px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.image-box {
  width: 400px;
  height: 404px;
  border: 2px solid #000000;
  margin-top: 15px;

  /* Default text */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #cccccc;
}
.image-box2 {
  width: 400px;
  height: 404px;
  border: 2px solid #000000;
  margin-top: 15px;

  /* Default text */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #cccccc;
  background: repeating-linear-gradient(
  -55deg,
  #222,
  #222 10px,
  #333 10px,
  #333 20px
);
}

.image-box-content {
  display: none;
  width: 400px;
  height: 400px;
}

.image-box-content2 {
  display: block;
  width: 400px;
  height: 400px;
}

.image_button{
  display:block;
  position: relative;
  width: 100px;
  height: 100px;
  background: url(https://www.flaticon.com/svg/static/icons/svg/87/87390.svg) no-repeat center center;
  background-size: cover;
}

.image_button input{
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.column {
  float: left;
  width: 10%;
  padding: 1px;
}

figcaption {  
  color: black;
  font-size: xx-small;
  padding: 2px;
  text-align: center;
}